html, body {
    width: 100%;
    height: 100%;
}

.wallpaper {
    width: 100%;
    height: 100%;
    background-image: url(../img/background.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #fff;
}

.blank {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #333;
    opacity: 0.4;
}

.page-title {
    width: 320px;
    text-align: center;
    position: absolute;
    top: 35%;
    left: 50%;
    margin-left: -160px;
    color: #fff;
}

.page-title h1 {
    font-size: 47px;
}

.page-title p {
    font-size: 22px;
}

.page-title .highlight {
    color: #FE9E22;
}